APP_ENV=production
APP_URL=https://eloconnections.com.br/agendamento
APP_BASE_PATH=/agendamento
APP_NAME=Agendamento AGEHAB
APP_TIMEZONE=America/Sao_Paulo

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=SEU_BANCO_HOSTINGER
DB_USERNAME=SEU_USUARIO_HOSTINGER
DB_PASSWORD=SUA_SENHA_HOSTINGER

ADMIN_USER=admin
ADMIN_PASSWORD=TROQUE_POR_UMA_SENHA_FORTE
